on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build-wine:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: macbre/push-to-ghcr@master
        with:
          image_name: ${{ github.repository }}
          dockerfile: './wine/Dockerfile'
